<div class="col-sm-12 col-md-12 col-lg-6">
    <div class="board_game">
        <div class="row justify-content-center">
            <div id="board_header{{board_game.id}}" class="col text-center">
                {% if app.user and board_game.isOwnByUser(app.user) %}
                    <div class="ribbon_wish">
                        <a class="own" href="{{ path('board_game_own', {'slug': board_game.slug}) }}">
                                <div class="content" title="Supprimer de votre collection ?"><i class="fas fa-star"></i></div>
                        </a>
                    </div>
                {% elseif app.user %}
                    <div class="ribbon_own">
                        <a class="own" href="{{ path('board_game_own', {'slug': board_game.slug}) }}">
                            <div class="content" title="Ajouter à votre collection ?"><i class="far fa-star"></i></div>
                        </a>
                    </div>
                    <div class="ribbon_wish">
                        <a class="wish" href="{{ path('board_game_wish', {'slug': board_game.slug}) }}">
                            {% if board_game.isWishByUser(app.user) %}
                                <div class="content" title="Supprimer de votre liste d'envie ?"><i class="fa-solid fa-heart"></i></div>
                            {% elseif app.user %}
                                <div class="content" title="Ajouter à votre liste d'envie ?"><i class="fa-regular fa-heart"></i></div>
                            {% endif %}
                        </a>
                    </div>
                {% endif %}
                <h4 class="title_board_game">{{ board_game.name }}</h4>
            </div>
        </div>
        <a href="{{ path('board_game_show', {'slug': board_game.slug}) }}">

            <div class="board_game_body row justify-content-center">
                <div class="col-6">
                        {% if board_game.images.0 is defined %}
                            <img src="{{ vich_uploader_asset(board_game.images.0)| imagine_filter('list_board_game') }}" alt="{{ board_game.name }}">
                        {% endif %}
                </div>
                <div class="col-6">
                    <p><i class="fas fa-signal"></i> {{ board_game.target }}</p>
                    <p><i class="fas fa-baby"></i> A partir de {{ board_game.ageMin }} ans</p>
                    <p><i class="fas fa-users"></i> {{ board_game.nbMinPlayer is same as board_game.nbMaxPlayer ? board_game.nbMaxPlayer ~ " joueurs" : "De " ~ board_game.nbMinPlayer ~ " à " ~ board_game.nbMaxPlayer ~ " joueurs" }}</p>
                    <p><i class="fas fa-clock"></i> {{ board_game.gameTime }} minutes</p>
                    <p><i class="fas fa-coins"></i> {{ board_game.price }}€</p>
                </div>
            </div>
        </a>
    </div>
</div>