{% extends 'base.html.twig' %}

{% block title %}Jeux de société{% endblock %}

{% block body %}
    {{ form_start(form) }}

        <div class="row justify-content-center m-4">
            <div class="form-group col-8">
                {{ form_widget(form.search) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-3">
                <div id="filter">
                    <div id="filter_header">
                        <h4>Filtres</h4>
                    </div>
                    <div id="filter_body">
                        {{ form_row(form.price) }}
                        {{ form_row(form.nb_player) }}
                        {{ form_row(form.game_time) }}
                        {{ form_row(form.target) }}
                        {{ form_row(form.age_min) }}
                        {{ form_row(form.gamme) }}
                        {{ form_row(form.theme) }}
                        {{ form_row(form.type) }}
                    </div>
                    <div id="filter_footer">
                        <div class="row justify-content-center">
                            <button class="col-auto btn btn-secondary my-2 my-sm-0" type="submit">Appliquer les filtres</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-9">
                <div class="row justify-content-center">
                    {% if board_games|length %}
                        {% for board_game in board_games %}
                            {% include 'board_game/board_game.html.twig' %}
                        {% endfor %}
                    {% else %}
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="board_game">
                                <div class="row justify-content-center">
                                    <div class="col text-center">
                                        <p>Aucun résultat</p>
                                        <img class="width_80" src="{{ asset('/images/barney.png') }}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
<script>

$('[id*=board_header]').on("click", "[class='wish']", function(e){
    e.preventDefault();
    const url = this.href;
    const fa = this.querySelector("i")

    $.ajax({
        url : url,
        type : "POST",
        success : function (response) {
            if(response.wish == true){
                fa.classList.replace('fa-regular','fa-solid')
            }
            if(response.wish == false){
                fa.classList.replace('fa-solid','fa-regular')
            }
        }
    });
});


$('[id*=board_header]').on("click", "[class='own']", function(e){
    e.preventDefault();
    const url = this.href;
    const ribbon_own = this.parentElement
    const icon_own = this.querySelector("i")
    const ribbon_wish = ribbon_own.parentElement.querySelector("div.ribbon_wish")

    $.ajax({
        url : url,
        type : "POST",
        success : function (response) {
            if(response.own == true){
                ribbon_wish.remove()
                ribbon_own.classList.replace('ribbon_own','ribbon_wish')
                icon_own.classList.replace('far','fas')
            }
            if(response.own == false){
                ribbon_own.classList.replace('ribbon_wish','ribbon_own')
                icon_own.classList.replace('fas','far')
                var route = "{{ path('board_game_wish', {'id': 'board_game_id'}) }}"; 
                route = route.replace("board_game_id", JSON.parse(response.board_game).id);
                ribbon_own.parentElement.innerHTML += `<div class="ribbon_wish">
                    <a class="wish" href="` + route + `">
                        <div class="content" title="Supprimer de votre collection ?"><i class="fa-regular fa-heart"></i></div>
                    </a>
                </div>`
            }
        }
    });
});
</script>
{% endblock %}