{% extends 'base.html.twig' %}

{% block title %}Jeux de société{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-9">
            <div class="board_game board_game_body">
                {% if is_granted('ROLE_ADMIN') %}
                    {{ include('board_game/_delete_form.html.twig') }}
                    <a class="float-end" href="{{ path('board_game_edit', {'slug': board_game.slug}) }}"><button class="btn float-end" type="button"><i class="fa-solid fa-xl fa-pen"></i></button></a>
                {% endif %}
                <div class="row">
                    <div id="board_header{{board_game.id}}" class="col-sm-12 col-md-12 col-lg-5">
                        {% if app.user and board_game.isOwnByUser(app.user) %}
                            <div class="ribbon_wish">
                                <a class="own" href="{{ path('board_game_own', {'slug': board_game.slug}) }}">
                                    <div class="content" title="Supprimer de votre collection ?"><i class="fas fa-star"></i></div>
                                </a>
                            </div>
                        {% elseif app.user %}
                            <div class="ribbon_own">
                                <a class="own" href="{{ path('board_game_own', {'slug': board_game.slug}) }}">
                                    <div class="content" title="Ajouter à votre collection ?"><i class="far fa-star"></i></div>
                                </a>
                            </div>
                            <div class="ribbon_wish">
                                <a class="wish" href="{{ path('board_game_wish', {'slug': board_game.slug}) }}">
                                    {% if board_game.isWishByUser(app.user) %}
                                        <div class="content" title="Supprimer de votre liste d'envie ?"><i class="fa-solid fa-heart"></i></div>
                                    {% elseif app.user %}
                                        <div class="content" title="Ajouter à votre liste d'envie ?"><i class="fa-regular fa-heart"></i></div>
                                    {% endif %}
                                </a>
                            </div>
                        {% endif %}

                        {% if board_game.images.0 is defined %}
                            <a href="{{ vich_uploader_asset(board_game.images.0)}}">
                                <img src="{{ vich_uploader_asset(board_game.images.0)| imagine_filter('show_board_game') }}" alt="{{ board_game.name }}">
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-7">
                        <h1>{{ board_game.name }}</h1>
                        <p><i class="fas fa-signal"></i> {{ board_game.target }}</p>
                        <p><i class="fas fa-users"></i> {{ board_game.nbMinPlayer is same as board_game.nbMaxPlayer ? board_game.nbMaxPlayer ~ " joueurs" : "De " ~ board_game.nbMinPlayer ~ " à " ~ board_game.nbMaxPlayer ~ " joueurs" }}</p>
                        <p><i class="fas fa-clock"></i> {{ board_game.gameTime }} minutes</p>
                        <p><i class="fas fa-baby"></i> A partir de {{ board_game.ageMin }} ans</p>
                        <p><i class="fas fa-coins"></i> {{ board_game.price }}€</p>
                        <div class="list_image row">
                            {% for image in board_game.images %}
                                {% if image.position is not same as 1 %}
                                    <div class="list_image item col-auto">
                                        <a href="{{ vich_uploader_asset(image)}}">
                                            <img src="{{ vich_uploader_asset(image)| imagine_filter('mini_board_game') }}" alt="{{ board_game.name }}">
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-10 col-md-10 col-lg-10">
                        <ul class="nav nav-tabs row" id="myTab" role="tablist">
                            <li class="nav-item col-auto" role="presentation">
                                <button class="nav-link active onglet" id="description-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="description" aria-selected="true">Description</button>
                            </li>
                            <li class="nav-item col-auto" role="presentation">
                                <button class="nav-link onglet" id="fiche-tab" data-bs-toggle="tab" data-bs-target="#fiche" type="button" role="tab" aria-controls="fiche" aria-selected="false">Fiche technique</button>
                            </li>
                            {% if board_game.videos|length %}
                                <li class="nav-item col-auto" role="presentation">
                                    <button class="nav-link onglet" id="videos-tab" data-bs-toggle="tab" data-bs-target="#videos" type="button" role="tab" aria-controls="videos" aria-selected="false">Vidéos</button>
                                </li>
                            {% endif %}
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                                {{ board_game.description|raw }}
                            </div>
                            <div class="tab-pane fade" id="fiche" role="tabpanel" aria-labelledby="fiche-tab">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td scope="col">Cible</td>
                                            <td scope="col">
                                                {{ board_game.target }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="col">Nombre de joueurs</td>
                                            <td scope="col">
                                                {{ board_game.nbMinPlayer is same as board_game.nbMaxPlayer ? board_game.nbMaxPlayer ~ " joueurs" : "De " ~ board_game.nbMinPlayer ~ " à " ~ board_game.nbMaxPlayer ~ " joueurs" }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Durée</td>
                                            <td>
                                                {{ board_game.gameTime }} minutes
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Age</td>
                                            <td>
                                                A partir de {{ board_game.ageMin }} ans
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Thème(s)</td>
                                            <td>
                                                {% for theme in board_game.boardGameThemes  %}
                                                    <span class="feature">{{theme.theme.name}}</span>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Type(s)</td>
                                            <td>
                                                {% for type in board_game.boardGameTypes  %}
                                                    <span class="feature">{{type.type.name}}</span>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Gamme</td>
                                            <td>
                                                {% if board_game.gamme is not null %}
                                                    {{ board_game.gamme.name }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="videos" role="tabpanel" aria-labelledby="videos-tab">
                                {% for video in board_game.videos  %}
                                    <div class="row justify-content-center m-3">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{video.link}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3">
            <div id="notes">
                <div id="notes_header">
                    <h4>Notes et avis</h4>
                </div>
                <input type="hidden" value={{board_game.id}} id="board_game">
                <div id="notes_body">
                    {% if board_game.boardGameNotes|length %}
                        {% for note in board_game.boardGameNotes %}
                        <div class="row justify-content-center">
                            <div class="col-11 note">
                                <p><strong>{{note.user.username}}</strong></p>
                                <div class="ribbon_note">{{note.note}} / 20</div>
                                <cite>{{note.comment}}</cite>
                                {% if is_granted('NOTE_DELETE', note) %}
                                    <a class="btn float-end note_delete" href="{{ path('board_game_wish_delete',{ 'id' : note.id }) }}"><i class="fa-solid fa-xl fa-xmark"></i></a>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="row justify-content-center">
                            <div class="col-11 text-center">
                                <p>Pas d'avis sur le jeux</p>
                                <img class="width_80" src="{{ asset('/images/groot.png') }}" />
                            </div>
                        </div>
                    {% endif %}
                    <div id="note_form">
                        {% if app.user and not board_game.isNoteByUser(app.user) %}
                            <div class="row justify-content-center">
                                <div class="col-11 note">
                                    <h4>Ajouter une note</h4>
                                    <div class="form-group">
                                        <label for="note">Note</label>
                                        <input type="number" step="1" min="0" max="20" class="form-control" id="note" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="comment">Commentaire</label>
                                        <textarea class="form-control" id="comment" rows="3"></textarea>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <button id="add" class="btn btn-success m-1" type="button">Ajouter</button>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

<script>

$('[id*=board_header]').on("click", "[class='wish']", function(e){
    e.preventDefault();
    const url = this.href;
    const fa = this.querySelector("i")

    $.ajax({
        url : url,
        type : "POST",
        success : function (response) {
            if(response.wish == true){
                fa.classList.replace('fa-regular','fa-solid')
            }
            if(response.wish == false){
                fa.classList.replace('fa-solid','fa-regular')
            }
        }
    });
});


$('[id*=board_header]').on("click", "[class='own']", function(e){
    e.preventDefault();
    const url = this.href;
    const ribbon_own = this.parentElement
    const icon_own = this.querySelector("i")
    const ribbon_wish = ribbon_own.parentElement.querySelector("div.ribbon_wish")

    $.ajax({
        url : url,
        type : "POST",
        success : function (response) {
            if(response.own == true){
                ribbon_wish.remove()
                ribbon_own.classList.replace('ribbon_own','ribbon_wish')
                icon_own.classList.replace('far','fas')
            }
            if(response.own == false){
                ribbon_own.classList.replace('ribbon_wish','ribbon_own')
                icon_own.classList.replace('fas','far')
                var route = "{{ path('board_game_wish', {'slug': 'board_game_slug'}) }}"; 
                route = route.replace("board_game_slug", JSON.parse(response.board_game).slug);
                ribbon_own.parentElement.innerHTML += `<div class="ribbon_wish">
                    <a class="wish" href="` + route + `">
                        <div class="content" title="Supprimer de votre collection ?"><i class="fa-regular fa-heart"></i></div>
                    </a>
                </div>`
            }
        }
    });
});

function isValidNote(){
    if(($('#note').val() > 20 || $('#note').val() < 0) || $('#comment').val().length > 255){
        return false
    }
    return true
}

$('#notes_body').on("click", "#add", function(e){
    if(isValidNote()){
        let data = {}
        data['board_game'] = $('#board_game').val()
        data['note'] = $('#note').val()
        data['comment'] = $('#comment').val()

        $.ajax({
            data : data,
            url : "{{ (path('board_game_wish_new')) }}",
            type : "POST",
            success : function (response) {
                if(response.add){
                    var boardGameNote = JSON.parse(response.boardGameNote)
                    $('#note_form').empty()
                    if(response.board_note === 1){
                        $('#notes_body').empty()
                    }
                    let path_delete = "{{ path('board_game_wish_delete',{ 'id' : 'note_id' }) }}"
                    path_delete = path_delete.replace("note_id", boardGameNote.id);
                    $('#notes_body').append(`
                        <div class="row justify-content-center">
                            <div class="col-11 note">
                                <p><strong>` + boardGameNote.user.username + `</strong></p>
                                <div class="ribbon_note">` + boardGameNote.note + ` / 20</div>
                                <cite>` + boardGameNote.comment + `</cite>
                                <a class="btn float-end note_delete" href="` + path_delete + `"><i class="fa-solid fa-xl fa-xmark"></i></a>
                            </div>
                        </div>
                    `)
                }
            }
        })
    }
    
});

$('#notes_body').on("click", "[class*='note_delete']", function(e){
    e.preventDefault();
    const url = this.href;
    const block = this.parentElement.parentElement

    $.ajax({
        url : url,
        type : "POST",
        success : function (response) {
            if(response.delete){
                block.remove()
                if(!response.board_note){
                    $('#notes_body').append(`
                        <div class="row justify-content-center">
                            <div class="col-11 text-center">
                                <p>Pas d'avis sur le jeux</p>
                                <img class="width_80" src="{{ asset('/images/groot.png') }}" />
                            </div>
                        </div>
                        <div id="note_form">
                            <div class="row justify-content-center">
                                <div class="col-11 note">
                                    <h4>Ajouter une note</h4>
                                    <div class="form-group">
                                        <label for="note">Note</label>
                                        <input type="number" step="1" min="0" max="20" class="form-control" id="note" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="comment">Commentaire</label>
                                        <textarea class="form-control" id="comment" rows="3"></textarea>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <button id="add" class="btn btn-success m-1" type="button">Ajouter</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `)
                }
            }
        }
    })
});

</script>

{% endblock %}