{% extends 'base.html.twig' %}

{% block title %}Jeux de société{% endblock %}

{% block body %}
    <div class="board_game board_game_body">
        {{ include('board_game/_delete_form.html.twig') }}
        <a class="float-end" href="{{ path('board_game_edit', {'id': board_game.id}) }}"><button class="btn float-end" type="button"><i class="fa-solid fa-xl fa-pen"></i></button></a>

        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg-5">
                <div class="ribbon">
                    <a id="wish" href="{{ path('board_game_wish', {'id': board_game.id}) }}">
                        {% if app.user and board_game.isWishByUser(app.user) %}
                            <div class="content" title="Ajouter à votre liste d'envie ?"><i class="fa-solid fa-heart"></i></div>
                        {% elseif app.user %}
                            <div class="content" title="Ajouter à votre liste d'envie ?"><i class="fa-regular fa-heart"></i></div>
                        {% endif %}
                    </a>
                </div>

                {% if board_game.images.0 is defined %}
                
                    <a href="{{ vich_uploader_asset(board_game.images.0)}}">
                        <img src="{{ vich_uploader_asset(board_game.images.0)| imagine_filter('show_board_game') }}" alt="{{ board_game.name }}">
                    </a>
                {% endif %}
            </div>
            <div class="col-sm-12 col-md-12 col-lg-7">
                <h1>{{ board_game.name }}</h1>
                <p>{{ board_game.target }}</p>
                <p>{{ board_game.ageMin }}</p>
                <p>{{ board_game.nbMinPlayer is same as board_game.nbMaxPlayer ? board_game.nbMaxPlayer ~ " joueurs" : "De " ~ board_game.nbMinPlayer ~ " à " ~ board_game.nbMaxPlayer ~ " joueurs" }}</p>
                <p>{{ board_game.gameTime }} minutes</p>
                <p>{{ board_game.price }}€</p>
                <div class="list_image row">
                    {% for image in board_game.images %}
                        {% if image.position is not same as 1 %}
                            <div class="list_image item col-auto">
                                <a href="{{ vich_uploader_asset(image)}}">
                                    <img src="{{ vich_uploader_asset(image)| imagine_filter('mini_board_game') }}" alt="{{ board_game.name }}">
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8">
                {{ board_game.description|raw }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

<script>

$('#wish').click(function(e){
    e.preventDefault();
    const url = this.href;
    const fa = this.querySelector("i")

    $.ajax({
        url : url,
        type : "POST",
        success : function (response) {
            if(response.wish == true){
                fa.classList.replace('fa-regular','fa-solid')
            }
            if(response.wish == false){
                fa.classList.replace('fa-solid','fa-regular')
            }
        }
    });
});

</script>

{% endblock %}