{% extends 'base.html.twig' %}

{% block title %}Jeux de société{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="board_game">
                <div class="row justify-content-center">
                    <div class="col-4">
                    </div>
                    <div class="col-8">
                        <h1>{{ board_game.name }}</h1>
                        <p>{{ board_game.target }}</p>
                        <p>{{ board_game.ageMin }}</p>
                        <p>{{ board_game.nbMinPlayer is same as board_game.nbMaxPlayer ? board_game.nbMaxPlayer ~ " joueurs" : "De " ~ board_game.nbMinPlayer ~ " à " ~ board_game.nbMaxPlayer ~ " joueurs" }}</p>
                        <p>{{ board_game.gameTime }} minutes</p>
                        <p>{{ board_game.price }}€</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        {{ board_game.description }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="{{ path('home') }}">back to list</a>

    <a href="{{ path('board_game_edit', {'id': board_game.id}) }}">edit</a>

    {{ include('board_game/_delete_form.html.twig') }}
{% endblock %}
