{% extends 'base.html.twig' %}

{% block title %}Jeux de société{% endblock %}

{% block body %}
    <div class="board_game board_game_body">
        {{ include('board_game/_delete_form.html.twig') }}
        <a class="float-end" href="{{ path('board_game_edit', {'slug': board_game.slug}) }}"><button class="btn float-end" type="button"><i class="fa-solid fa-xl fa-pen"></i></button></a>

        <div class="row justify-content-center">
            <div id="board_header{{board_game.id}}" class="col-sm-12 col-md-12 col-lg-5">
                {% if app.user and board_game.isOwnByUser(app.user) %}
                    <div class="ribbon_wish">
                        <a class="own" href="{{ path('board_game_own', {'slug': board_game.slug}) }}">
                                <div class="content" title="Supprimer de votre collection ?"><i class="fas fa-star"></i></div>
                            
                        </a>
                    </div>
                {% elseif app.user %}
                    <div class="ribbon_own">
                        <a class="own" href="{{ path('board_game_own', {'slug': board_game.slug}) }}">
                            <div class="content" title="Ajouter à votre collection ?"><i class="far fa-star"></i></div>
                        </a>
                    </div>
                    <div class="ribbon_wish">
                        <a class="wish" href="{{ path('board_game_wish', {'slug': board_game.slug}) }}">
                            {% if board_game.isWishByUser(app.user) %}
                                <div class="content" title="Supprimer de votre liste d'envie ?"><i class="fa-solid fa-heart"></i></div>
                            {% elseif app.user %}
                                <div class="content" title="Ajouter à votre liste d'envie ?"><i class="fa-regular fa-heart"></i></div>
                            {% endif %}
                        </a>
                    </div>
                {% endif %}

                {% if board_game.images.0 is defined %}
                
                    <a href="{{ vich_uploader_asset(board_game.images.0)}}">
                        <img src="{{ vich_uploader_asset(board_game.images.0)| imagine_filter('show_board_game') }}" alt="{{ board_game.name }}">
                    </a>
                {% endif %}
            </div>
            <div class="col-sm-12 col-md-12 col-lg-7">
                <h1>{{ board_game.name }}</h1>
                <p><i class="fas fa-signal"></i> {{ board_game.target }}</p>
                <p><i class="fas fa-baby"></i> A partir de {{ board_game.ageMin }} ans</p>
                <p><i class="fas fa-users"></i> {{ board_game.nbMinPlayer is same as board_game.nbMaxPlayer ? board_game.nbMaxPlayer ~ " joueurs" : "De " ~ board_game.nbMinPlayer ~ " à " ~ board_game.nbMaxPlayer ~ " joueurs" }}</p>
                <p><i class="fas fa-clock"></i> {{ board_game.gameTime }} minutes</p>
                <p><i class="fas fa-coins"></i> {{ board_game.price }}€</p>
                <div class="list_image row">
                    {% for image in board_game.images %}
                        {% if image.position is not same as 1 %}
                            <div class="list_image item col-auto">
                                <a href="{{ vich_uploader_asset(image)}}">
                                    <img src="{{ vich_uploader_asset(image)| imagine_filter('mini_board_game') }}" alt="{{ board_game.name }}">
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8">
                {{ board_game.description|raw }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

<script>

$('[id*=board_header]').on("click", "[class='wish']", function(e){
    e.preventDefault();
    const url = this.href;
    const fa = this.querySelector("i")

    $.ajax({
        url : url,
        type : "POST",
        success : function (response) {
            if(response.wish == true){
                fa.classList.replace('fa-regular','fa-solid')
            }
            if(response.wish == false){
                fa.classList.replace('fa-solid','fa-regular')
            }
        }
    });
});


$('[id*=board_header]').on("click", "[class='own']", function(e){
    e.preventDefault();
    const url = this.href;
    const ribbon_own = this.parentElement
    const icon_own = this.querySelector("i")
    const ribbon_wish = ribbon_own.parentElement.querySelector("div.ribbon_wish")

    $.ajax({
        url : url,
        type : "POST",
        success : function (response) {
            if(response.own == true){
                ribbon_wish.remove()
                ribbon_own.classList.replace('ribbon_own','ribbon_wish')
                icon_own.classList.replace('far','fas')
            }
            if(response.own == false){
                ribbon_own.classList.replace('ribbon_wish','ribbon_own')
                icon_own.classList.replace('fas','far')
                var route = "{{ path('board_game_wish', {'slug': 'board_game_slug'}) }}"; 
                route = route.replace("board_game_slug", JSON.parse(response.board_game).slug);
                ribbon_own.parentElement.innerHTML += `<div class="ribbon_wish">
                    <a class="wish" href="` + route + `">
                        <div class="content" title="Supprimer de votre collection ?"><i class="fa-regular fa-heart"></i></div>
                    </a>
                </div>`
            }
        }
    });
});

</script>

{% endblock %}