{% extends 'base.html.twig' %}

{% block title %}Page de profile{% endblock %}

{% block body %}

<div class="row">
    <div class="col-12">
        <h2>{{app.user.username}}</h2>
        <div class="board_game">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2>Collection</h2>
        <div id="owned" class="row justify-content-center">
            {% if app.user.boardGameOwneds|length == 0 %}
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="board_game">
                        <div class="row justify-content-center">
                            <div class="col text-center">
                                <p>Aucun jeu n'est dans votre collection</p>
                                <img class="width_80" src="{{ asset('/images/crying_eric_cartman.png') }}" />
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% for own in app.user.boardGameOwneds %}
                {% set board_game = own.boardGame %}
                {% include 'board_game/board_game.html.twig' %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2>Liste de souhaits</h2>
        <div id="wishlist" class="row justify-content-center">
            {% if app.user.boardGameWishes|length == 0 %}
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="board_game">
                        <div class="row justify-content-center">
                            <div class="col text-center">
                                <p>Aucun jeu souhaité</p>
                                <img class="width_80" src="{{ asset('/images/gus_fring.png') }}" />
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% for wish in app.user.boardGameWishes %}
                {% set board_game = wish.boardGame %}
                {% include 'board_game/board_game.html.twig' %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}


{% block javascripts %}
<script>

$('[id*=wishlist]').on("click", "[class='wish']", function(e){
    e.preventDefault();
    const url = this.href;
    const block = this.parentElement.parentElement.parentElement.parentElement.parentElement
    $.ajax({
        url : url,
        type : "POST",
        success : function (response) {
            if(response.wish === false){
                block.remove()
                if(response.game_wishes === 0){
                    $('#wishlist').html(`<div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="board_game">
                            <div class="row justify-content-center">
                                <div class="col text-center">
                                    <p>Aucun jeu souhaité</p>
                                    <img class="width_80" src="{{ asset('/images/gus_fring.png') }}" />
                                </div>
                            </div>
                        </div>
                    </div>`);
                }
            }
            
        }
    });
});
function owned(url, block){
    $.ajax({
        url : url,
        type : "POST",
        success : function (response) {
            if(response.own === false){
                block.remove()
                if(response.game_owned === 0){
                    $('#owned').html(`<div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="board_game">
                            <div class="row justify-content-center">
                                <div class="col text-center">
                                    <p>Aucun jeu n'est dans votre collection</p>
                                    <img class="width_80" src="{{ asset('/images/crying_eric_cartman.png') }}" />
                                </div>
                            </div>
                        </div>
                    </div>`);
                }
            }
            if(response.own === true){
                block.remove()
                if(response.game_owned === 1){
                    $('#owned').empty()
                }
                var board_game = JSON.parse(response.board_game)
                var route_own = "{{ path('board_game_own', {'slug': 'board_game_slug'}) }}"; 
                route_own = route_own.replace("board_game_slug", board_game.slug);
                var route_show = "{{ path('board_game_show', {'slug': 'board_game_slug'}) }}"; 
                route_show = route_show.replace("board_game_slug", board_game.slug);
                var append = `
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="board_game">
                        <div class="row justify-content-center">
                            <div id="board_header` + board_game.id + `" class="col text-center">
                                <div class="ribbon_wish">
                                    <a class="own" href="` + route_own + `">
                                        <div class="content" title="Supprimer de votre collection ?"><i class="fas fa-star"></i></div>
                                    </a>
                                </div>
                                
                                <h4 class="title_board_game">` + board_game.name + `"</h4>
                            </div>
                        </div>
                        <a href="` + route_show + `">

                            <div class="board_game_body row justify-content-center">
                                <div class="col-6"> `
                                    if(typeof board_game.images[0] !== 'undefined'){
                                        append +=`
                                        <img src="` + response.image + `" height="131" width="131" alt="` + board_game.name + `">
                                        `
                                    }   
                append +=`
                                </div>
                                <div class="col-6">
                                    <p>` + board_game.target + `</p>
                                    <p>` + board_game.ageMin + `</p>
                                    <p>` + (board_game.nbMinPlayer === board_game.nbMaxPlayer ? board_game.nbMaxPlayer + " joueurs" : "De " + board_game.nbMinPlayer + " à " + board_game.nbMaxPlayer + " joueurs") + `</p>
                                    <p>` + board_game.gameTime + ` minutes</p>
                                    <p>` + board_game.price + `€</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>`
                $('#owned').append(append)
                if(response.game_wishes === 0){
                    $('#wishlist').html(`<div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="board_game">
                            <div class="row justify-content-center">
                                <div class="col text-center">
                                    <p>Aucun jeu souhaité</p>
                                    <img class="width_80" src="{{ asset('/images/gus_fring.png') }}" />
                                </div>
                            </div>
                        </div>
                    </div>`);
                }
            }
        }
    });
}

$('[id*=wishlist]').on("click", "[class='own']", function(e){
    
    e.preventDefault();
    const url = this.href;
    const block = this.parentElement.parentElement.parentElement.parentElement.parentElement
    owned(url, block)
});
$('[id*=owned]').on("click", "[class='own']", function(e){
    
    e.preventDefault();
    const url = this.href;
    const block = this.parentElement.parentElement.parentElement.parentElement.parentElement
    owned(url, block)
});
</script>
{% endblock %}
